body {
    background-color: lightblue;
}
.container{
    background-color: white;
    width: 500px;
    height: 300px;
    display: table;
    border-radius: 30px;
}
.img-wrap{
    width: 100%;
    height: 250px;
    border-radius: 10px;
    display: table-cell;
    vertical-align: middle;
}
.slider-wrap{
    margin-top: 10px;
}
.button-wrap{
    display: table-cell;
    vertical-align: middle;
}
button{
    background-color: white;
    border: none;
}
img{
    width: 50px;
}
#controls{
    margin-top: 5px;
    height: 20px;
    width: 80%;
}
#image-box{
    height: 100%;
    width: 100%;
    border-radius: 10px;
}
.run-animation{
    animation: fade-in 0.75s linear 0s;
}
#next-button{
    transform: rotate(180deg);
}

.slider-button{
    background-color: darkgrey;
    height: 20px;
    width: 15px;
    margin-left: 5px;
    margin-right: 5px;
    border: 5px solid darkgrey;
    border-radius: 50%;
}

@keyframes fade-in{
    from{ opacity: 0;}
    to{ opacity: 1;}
}